a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
    color: black;
    transition: 0.2s;
}


li {
  margin-top: 1rem;
}

.App {
  margin-left: 1rem;
}

.title {
  color: #1B75E4;
}

.description {
  color: #8c9197;
}

.resume {
  color: #E48A1B
}

.project_title {
  color: #A33BC4
}

.project_list {
  font-size: 1.1rem;
  list-style-type: none;
  padding-left: 0;
  color: #3068ad;
  font-weight: 600;
}